body {
    background: yellowgreen;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
    margin: top 40px;
}

.addimages {
    min-height : 300px;
    background-color: #FFFFFF;
    box-shadow:0 8px 16px rgba(91,91 91, 0.15);
    padding: 25px 50px;
}

.addimages h1 {
    text-align: center;
}
form {
    margin-top: 40px;
}

label {
    display: block;
}

form > div {
    margin-bottom: 20px;
}

.showimage {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    margin-top:40px;
}

.photo {
    background-color: #fff;
    box-shadow:0 8px 16px rgba(91, 91 91, 0.15);
    flex-basis: 400px;
    height:300px;
    padding: 25px;
}

.photo_image {
    width: 100%;
    height: 300px;
    box-shadow:inset 0 3px 6px rgba(91, 91 91, 0.15);
}

.photo_image > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}